@model BookStore.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <h3>Edit book</h3>
    @using (Html.BeginForm())
    {
        <table class="table">
            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>

            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Author)</td>
                <td>@Html.EditorFor(m => m.Author)</td>
            </tr>

            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Quantity)</td>
                <td>@Html.EditorFor(m => m.Quantity)</td>
            </tr>

            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Price)</td>
                <td>@Html.EditorFor(m => m.Price)</td>
            </tr>
        </table>
            <input type="submit" value="Save" />
    }
</body>
</html>
