
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h1 class="title">Book Store</h1>
        <table class="table">
            <tr class="tr_main">
                <td><p>Name</p></td>
                <td><p>Author</p></td>
                <td><p>Quantity</p></td>
                <td><p>Price ($)</p></td>
                @if ((string)Session["Email"] == "admin@bookstore.com")
                {
                    <td><p>Options</p></td>
                }
                else
                {
                    <td><p>Buy</p></td>
                }
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr class="tr_content">
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Quantity</p></td>
                    <td><p>@b.Price</p></td>
                    <td>
                        <p>
                            @if (b.Quantity > 0)
                            {
                                @Html.ActionLink("Buy", "Buy", new { id = b.Id })
                            }
                            else
                            {
                                <text>None left</text>
                            }

                            @if ((string)Session["Email"] == "admin@bookstore.com")
                            {
                                <text> | </text> @Html.ActionLink("Edit", "Edit", "Admin", new { id = b.Id }, null) <text> | </text>
                                @Html.ActionLink("Delete", "Delete", "Admin", new { id = b.Id }, null)
                            }

                        </p>
                    </td>
                </tr>
            }
            @if ((string)Session["Email"] == "admin@bookstore.com")
            {
                <td><h5>@Html.ActionLink("Add Book", "Add", "Admin") | @Html.ActionLink("All Purchases", "PurchasesData", "Admin") | @Html.ActionLink("All Users", "UsersData", "Admin")</h5></td>
            }
        </table>
    </div>
</body>
</html>