
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>All Users</h3>
<table class="table">
    <tr class="tr_main">
        <td><p>ID</p></td>
        <td><p>First Name</p></td>
        <td><p>Second Name</p></td>
        <td><p>Email</p></td>
    </tr>
    @foreach (var b in ViewBag.Users)
    {
        <tr class="tr_content">
            <td><p>@b.UserId</p></td>
            <td><p>@b.UserFirstName</p></td>
            <td><p>@b.UserSecondName</p></td>
            <td><p>@b.UserEmail</p></td>
        </tr>
    }
    <td><p>@Html.ActionLink("Back to Store", "")</p></td>
</table>

