@model BookStore.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <h3>Edit book</h3>
    @using (Html.BeginForm())
    {
        <table class="table">
            <tr class="tr_content" style="opacity: 0.5">
                <td>@Html.LabelFor(m => m.Id)</td>
                <td>@Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })</td>
            </tr>
            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</td>
            </tr>

            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Author)</td>
                <td>@Html.TextBoxFor(m => m.Author, new { @class = "form-control" })</td>
            </tr>

            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Quantity)</td>
                <td>@Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })</td>
            </tr>

            <tr class="tr_content">
                <td>@Html.LabelFor(m => m.Price)</td>
                <td>@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })</td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" value="Save" />
        <a href="@Url.Action("Index", "Home")" class="btn btn-info">Cancel</a>

    }
</body>
</html>
